[project]
	description = A web demo code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Trung Huynh (kenzaburo)
[access "refs/for/refs/*"]
	read = group user/Trung Huynh (kenzaburo)
	push = group user/Trung Huynh (kenzaburo)
	label-Code-Review = -2..+2 group user/Trung Huynh (kenzaburo)
	label-Verified = -1..+1 group user/Trung Huynh (kenzaburo)
	rebase = group user/Trung Huynh (kenzaburo)
	removeReviewer = group user/Trung Huynh (kenzaburo)
	submit = group user/Trung Huynh (kenzaburo)
[access "refs/heads/*"]
	read = group user/Trung Huynh (kenzaburo)
	create = group user/Trung Huynh (kenzaburo)
	push = +force group user/Trung Huynh (kenzaburo)
	pushMerge = group user/Trung Huynh (kenzaburo)
[access "refs/tags/*"]
	push = +force group user/Trung Huynh (kenzaburo)
	pushTag = group user/Trung Huynh (kenzaburo)
	pushSignedTag = group user/Trung Huynh (kenzaburo)
