<table>	
		
		<tr>
			<td>Name:</td>
			<td>
				<input type="text" id="name_Add" class="C_004_05_name_Add" value="{val Name}"></input>
			</td>
			
		</tr>
		<tr>
			<td>Content:</td>
			<td>
				<textarea style="width:550px; height : 300px"  id="content_Add" class="C_004_05_content_Add" >{val Content}</textarea>
			</td>
			
		</tr>
		
</table>
<div class="C_004_05_Update5">
	<img class="C_004_05_hand" src="../img/exitBtn_uUpload.jpg" onclick="Orelax.stl_CancelEdit();"/>
	<img class="C_004_05_hand" src="../img/updateBtn.gif" onclick="Orelax.stl_Update();"/>
</div>
<div style="clear:both"></div>