<div class="User_All_content">
	<div class="title_page">{val catagoryTitle}</div>
	<div id="All_content_second" class="All_content_second">{val content}</div>
	<div style="clear:both;"></div>
	<div id="All_content_paging" class="All_content_paging">{val paging}</div>
	<div style="clear:both;"></div>
</div>