<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #9B8675;">
	<tbody>
		<tr>
			<td colspan="2" class="title">SẢN PHẨM BÁN CHẠY</td>
		</tr>
		<tr>
			<td width="10%" style="padding: 5px;">
				<marquee direction="up" scrollamount="3" onmouseout="this.start();" style="height: 200px;" onmouseover="this.stop();">
					<table cellspacing="0" cellpadding="0" border="0" width="100%" class="text">
						<tbody>
							{val allBestsellerRow}
						</tbody>
					</table>
				</marquee>
			</td>
		</tr>
		
	</tbody>
</table>