<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #9B8675; margin-top: 3px;">
	<tbody>
		<tr>
			<td class="title">GÓC GIẢI TRÍ</td>
		</tr>
						
		<tr>
			<td width="10%" style="padding: 0px 5px 5px;">
					<table cellspacing="0" cellpadding="0" border="0" width="100%" class="text">
						{val allRelaxRow}
					</table>
			</td>
		</tr>
		
	</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #9B8675; margin-top: 3px;">
	<tbody>
		<tr>
			<td class="title">BLOGSPOT</td>
		</tr>
						
		<tr>
			<td width="10%" style="padding: 0px 5px 5px;">
<a target="blank" href="http://noithathuyphat.com/noithat/htm/">phat huy do go noi that | Nội thất đồ gồ</a>
<a target="blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-huy-phat/ghe-sofa/">Ghế sofa Huy Phát thể hiện sự thành đạt của bạn</a>
<a target="blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-phat-huy/dich-vu/">Dịch vụ Đồ gỗ nội thất cho người việt</a>
<a target="blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-phat-huy/gioi-thieu/">Giới thiệu Nội thất thuần việt huy phát</a>
			</td>
		</tr>
		
	</tbody>
</table>