<div class="User_All_content">
	<div class="title_page">{val catagoryTitle}</div>
	<div id="All_content_second" class="All_content_second">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" class="text">
			{val content}
		</table>
	</div>
	<div style="clear:both;"></div>
	<div id="All_content_paging" class="All_content_paging">{val paging}</div>
	<div style="clear:both;"></div>
</div>
