<div class="User_All_content">
<div class="title_page">ĐỒ GỖ NỘI THẤT PHÁT HUY => LIÊN HỆ</div>
<div class="introduceHP">
	<p style="text-align: justify;">
	</p>
	<p align="center" style="margin: 6pt 0in; text-align: center;"  ><strong>LIÊN HỆ</strong></p>
	
	<div style="text-align:left;">
		<p style="margin: 6pt 0in;"  ><strong><span style="text-decoration: underline;">Liên hệ:</span></strong></p>
		<h4 style="margin: 6pt 0in;"  ><strong>Cty TNHH Trang Trí Nội Thất Cường Phát Huy</strong></h4>
		<p style="margin: 6pt 0in;"  >- Địa chỉ:  264 Phan Anh - Hiệp Tân - Tân Phú - Tp. Hồ Chí Minh</p>
		<p style="margin: 6pt 0in;"  >- Điện thoại: </p>
		<p style="margin: 6pt 0in;"  >- Di động : 0903 787 954 Mr PHÁT</p>
		<p style="margin: 6pt 0in;"  >- Email: huy_phat_mail_1@yahoo.com</p>
		<p style="margin: 6pt 0in;"  >- Y!M: thule.nguyen83</p>
		<p style="margin: 6pt 0in;"  >- Website:<span> </span><a href="http://noithathuyphat.com/">Đồ Gỗ Nội Thất</a></p></td>
	</div>
</div>
</div>