<html>

<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<meta content="NO-CACHE" http-equiv="CACHE-CONTROL"/>
		<meta http-equiv="reply-to" content="phuong.ho@pops.com.vn">
		<meta name="author" content="Ho Phuong">
		<meta name="publisher" content="Ho Phuong">
		<meta name="copyright" content="Ho Phuong">
        <meta name="alexaVerifyID" content="7Vw28yS_qRFGPGuFCDeG09Pru6A" />
        <meta name="y_key" content="0c6096e3915d2caf" />
        <meta name="google-site-verification" content="v38Gaku-YkHtHWTC3tvdhWqPl5bHv5S4jz3zIdPHhXI" />
		<meta name="audience" content="all">
		<meta name="expires" content="never">
		<meta content="{val keywords}" name="keywords"/>
		<meta content="Huy Phát Đồ gỗ nội thất, do go noi that, {val DescriptionPage}, Nội thất đồ gỗ, noi that do go, thiết kế nội thất" name="description"/>
		<meta name ="robots" content="index, follow"/>
		<link href="{val MOD_IMG}logo.ico" rel="shortcut icon"/>
		<title>{val mainTitle} | Thiết kế nội thất | tủ áo, tủ tivi, nội thất tủ bếp</title>
		
		<script type="text/javascript" src="{val MOD_JS}prototype.js"></script>
		<script type="text/javascript" src="{val MOD_JS}hp_user.js"></script>
		<link type="text/css" rel="stylesheet" href="{val MOD_CSS}noithat_User.css"></link>
		<script type="text/javascript">
            var hp_user = new hp_user('{val STL_DEVELOP}');
		</script>
		{val link_canonical}

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-11890599-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-11890599-4']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

</head>
<body>

<script type="text/javascript" src="{val MOD_JS}wz_tooltip.js"></script >
	<table cellspacing="0" cellpadding="0" border="0" align="center" width="1000px"><tr><td align="center">
		<div>
			<div id="U_topBanner" class="U_topbanner">
				<embed height="160" align="middle" width="1010" 
						type="application/x-shockwave-flash" salign="" allowscriptaccess="always" 
						allowfullscreen="false" menu="true" name="flash_top" bgcolor="#ffffff" 
						devicefont="false" wmode="transparent" scale="showall" loop="true" play="true" 
						pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" 
						src="{val STL_DEVELOP}flash/test.swf"/>
			</div>
			<div id="U_mainMenu" class="U_mainmenu">
				<table cellspacing="0" cellpadding="0" border="0" width="100%" style="height:38px; margin-top:4px;">
					<tbody><tr>
						<td width="8" align="center" class="hnav_img_left">
						</td>
						<td width="205" align="center"  valign="bottom" class="hnav_img_redundance">
							<a style="color:#2A3642; ">&nbsp;</a>
						</td>
						<td width="1"><img height="30" width="1" src="{val STL_DEVELOP}img/menu_line.gif" title="tủ áo bàn ăn ghế ngồi đồ gỗ" alt="tủ áo bàn ăn ghế ngồi đồ gỗ"/></td>
						<td width="110" align="center" class="hnav_img" onmouseover="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_over_left.gif)'" onmouseout="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_left.gif)'">
							<a title="Trang chủ" href="{val STL_DEVELOP}htm/" class="U_mainmenu_href">Trang chủ</a>
						</td>
						<td width="1"><img height="30" width="1" src="{val STL_DEVELOP}img/menu_line.gif" alt="phát huy nội thất đồ gỗ tủ áo bàn ăn ghế ngồi"/></td>
						<td width="110" align="center" class="hnav_img"  onmouseover="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_over_left.gif)'" onmouseout="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_left.gif)'">
							<a title="Giới thiệu"  href="{val STL_DEVELOP}htm/noi-that-do-go-phat-huy/gioi-thieu/" class="U_mainmenu_href">Giới thiệu</a>
						</td>
						<td width="1"><img height="30" width="1" src="{val STL_DEVELOP}img/menu_line.gif" alt="giới thiệu phát huy nội thất đồ gỗ"/></td>
						<td width="110" align="center" class="hnav_img"  onmouseover="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_over_left.gif)'" onmouseout="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_left.gif)'">
							<a title="Dịch vụ"  href="{val STL_DEVELOP}htm/noi-that-do-go-phat-huy/dich-vu/" class="U_mainmenu_href">Dịch vụ</a>
						</td>
						<td width="1"><img height="30" width="1" src="{val STL_DEVELOP}img/menu_line.gif" alt="dịch vụ nội thất đồ gỗ"/></td>
						<td width="110" align="center" class="hnav_img"  onmouseover="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_over_left.gif)'" onmouseout="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_left.gif)'">
							<a title="Thư giản"  href="{val STL_DEVELOP}htm/noi-that-do-go-phat-huy/thu-gian/" class="U_mainmenu_href">Thư giản</a>
						</td>
						<td width="1"><img height="30" width="1" src="{val STL_DEVELOP}img/menu_line.gif" alt="thư giản phát huy nội thất đồ gỗ, trang trí thiết kế nội thất"/></td>
						<td width="110" align="center" class="hnav_img"  onmouseover="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_over_left.gif)'" onmouseout="this.style.backgroundImage = 'url({val STL_DEVELOP}img/menu_left.gif)'">
							<a title="Liên hệ" href="{val STL_DEVELOP}htm/noi-that-do-go-phat-huy/lien-he/" class="U_mainmenu_href">Liên hệ</a>
						</td>
						<td width="1"><img height="30" width="1" src="{val STL_DEVELOP}img/menu_line.gif" alt="phat huy nội thất đồ gỗ, trang trí thiết kế nội thất"/></td>
						<td width="262" align="center"  valign="bottom" class="hnav_img_redundance">
							
						</td>
						<td width="8" class="hnav_img_right"  valign="bottom">
							
						</td>
					  </tr>
					</tbody>
				</table>
			</div>
			<div><marquee direction="left"><strong style="color: rgb(175, 85, 17);">Nội thất đồ gỗ huy phát, nội thất tủ áo, bàn gỗ, nội thất giường ngủ, kệ sách, nội thất tủ bếp, tủ tivi, tủ giày dép, bàn ăn, đồ gỗ cao cấp, ghế sofa, sofa gỗ</strong></marquee></div>
			<div id="U_mainContent" class="U_mainContent">
				<div id="U_mainContent_left" class="U_mainContent_left U_floatleft">
					<div id="U_mainContent_left_top" class="U_mainContent_left_top">
						<div >
							<table cellspacing="0" cellpadding="0" border="0" width="100%">
								<tr>
									<td class="title">SẢN PHẨM</td>
								</tr>
							</table>
						</div>
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/ban-an/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="bàn gỗ, bàn ăn nội thất đồ gỗ phát huy" alt="bàn gỗ, bàn ăn nội thất đồ gỗ phát huy"/>
								<strong>Bàn Ăn</strong>
							</a>
						</div>
						<div class="title_menu_left">
							<a  class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/ghe-ngoi/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="nội thất đồ gỗ, ghế ngồi" alt="nội thất đồ gỗ, ghế ngồi"/>
								<strong>Ghế</strong>
							</a>
						</div>
						
						<div class="title_menu_left">
							<a  class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/cua-di/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="cửa đi nội thất đồ gỗ phát huy" alt="cửa đi nội thất đồ gỗ phát huy"/>
								<strong>Cửa</strong>
							</a>
						</div>
						<!--
						<div class="title_menu_left">
							<a class="linkmenu U_hand" >
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="giả cổ nội thất đồ gỗ phát huy" alt="giả cổ nội thất đồ gỗ phát huy"/>
								<strong>Giả cổ</strong>
							</a>
						</div>
						-->
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/giuong-ngu/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="giường ngủ" alt="giường ngủ"/>
								<strong>Giường</strong>
							</a>
						</div>
						
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/ke-sach/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="nội thất đồ gỗ kệ sách" alt="nội thất đồ gỗ kệ sách"/>
								<strong>Kệ sách</strong>
							</a>
						</div>
						<!--
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/marquetry/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="đồ gỗ marquetry" alt="đồ gỗ marquetry"/>
								<strong>Marquetry</strong>
							</a>
						</div>
						-->
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/ghe-sofa/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="nội thất sofa gỗ, ghế sofa đồ gỗ" alt="nội thất sofa gỗ, ghế sofa đồ gỗ"/>
								<strong>Sofa</strong>
							</a>
						</div>
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/tu-ao/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="tủ áo" alt="tủ áo"/>
								<strong>Tủ áo</strong>
							</a>
						</div>
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/tu-bep/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="tủ bếp" alt="tủ bếp"/>
								<strong>Tủ bếp</strong>
							</a>
						</div>
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/tu-giay-dep/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" title="tủ giày dép" alt="tủ giày dép"/>
								<strong>Tủ giày</strong>
							</a>
						</div>
						<div class="title_menu_left">
							<a class="linkmenu U_hand" href="{val STL_DEVELOP}htm/noi-that-do-go-huy-phat/tu-tivi/">
								<img height="10" border="0" width="10" src="{val STL_DEVELOP}img/icon2.gif" alt="nội thất đồ gỗ tủ tivi, tủ gỗ tivi"/>
								<strong>Tủ tivi</strong>
							</a>
						</div>
					</div>
					<div id="U_mainContent_left_middle" class="U_mainContent_left_middle">
						<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #9B8675;">
							<tbody>
								<tr>
									<td colspan="2" class="title">TƯ VẤN TRỰC TUYẾN</td>
								</tr>
								<tr>
								  <td style="padding: 5px 5px 0pt;"><img src="{val STL_DEVELOP}img/icon_mobile.gif" alt="liên hệ đồ gỗ, thiết kế nội thất, kệ sách, tủ áo, tủ giày dép, tủ tivi, bàn ăn, ghế ngồi, sofa gỗ"/></td>
								  <td style="padding: 5px 5px 0pt; font-size:13px;">0903 787954(A.PHÁT)</td></tr>
								
							</tbody>
						</table>
					</div>
                    <div id="U_mainContent_left_middle" class="U_mainContent_left_middle">
						<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #9B8675;">
							<tbody>
								<tr>
									<td class="title">TAGS</td>
								</tr>
								<tr>
								
								  <td align="left" style="padding: 5px 5px 0pt; font-size:13px;">
									
		<p style="margin-left: 3px; margin-right: 3px;" align="justify"><b>
		<font face="Tahoma" size="2"><a target="_blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-huy-phat/ban-an/">nội thất bàn ăn</a></font></b>
		<font face="Tahoma" size="2">, 
		Noi that , <b><a target="_blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-huy-phat/tu-tivi/">Tu tivi, tủ tivi</a> </b>, <a target="_blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-huy-phat/ghe-ngoi/">nội thất dồ gỗ bàn ghế </a>, Tu ao , Tu 
		tivi van phong , Ban ghe giam doc Huy phat , 
		<b><a target="_blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-huy-phat/marquetry/">marquetry Huy Phat </a> </b>
		,<b><a target="_blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-huy-phat/ke-sach/">noi that ke sach</a> </b>
		, tu giay dep Huy Phat , cua di noi that Huy phat 
		, <b>Tap doan huy Phat , Huy phat Furniture, <a target="_blank" href="http://noithathuyphat.com/noithat/htm/noi-that-do-go-phat-huy/thu-gian/">thu gian</a><br> 
&nbsp;</b></font></p>
								
								  </td>
                                </tr>
								
							</tbody>
						</table>
                       
					</div>
				</div>
				<div id="U_mainContent_center" class="U_mainContent_center  U_floatleft">
					<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%"><tr><td align="center">
						<div id="U_mainContent_center_top">
							<embed height="270" align="middle" width="630" 
							type="application/x-shockwave-flash" salign="" allowscriptaccess="always" 
							allowfullscreen="false" menu="true" name="flash_top" bgcolor="#ffffff" 
							devicefont="false" wmode="transparent" scale="showall" loop="true" play="true" 
							pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" 
							src="{val STL_DEVELOP}flash/flash_center.swf"/>
						</div>
						
					</td></tr>
					<tr><td align="center">
						<div id="U_mainContent_center_middle">
							<div id="U_mainContent_center_middle_first">
								{val content}
							</div>
                            
						</div>
					</td></tr>
					</table>
                  <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style" style="float:right; padding-top:5px;">
                    <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=hophuong" class="addthis_button_compact">Share</a>
                    <span class="addthis_separator">|</span>
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=hophuong"></script>
                <!-- AddThis Button END -->  
					<div style="clear:both;"></div>
				</div>
				<div id="U_mainContent_right" class="U_mainContent_right  U_floatleft">
					<div id="U_mainContent_right_top">
						{val allBestsellerLeft}
					</div>
					<div id="U_mainContent_right_middle">
						{val allRelaxLeft}
					</div>
				</div>
			</div>
			<div id="U_bottomBanner" class="U_bottomBanner">
			</div>
			<div id="U_copyRight" class="U_copyRight">
			</div>
		</div>
	</td></tr></table>
	<div style="clear:both;"></div>
	<table cellspacing="1" cellpadding="10" border="0" align="center" width="1000px">
	<tr>
		<td width="200"></td>
		<td align="center">
			<img style="width:630px; height:110px;" src="{val STL_DEVELOP}img/banner_bottom.jpg" title="thiết kế nội thất, kệ sách, tủ áo, tủ giày dép, tủ tivi, bàn ăn, ghế ngồi, sofa gỗ" alt="thiết kế nội thất, kệ sách, tủ áo, tủ giày dép, tủ tivi, bàn ăn, ghế ngồi, sofa gỗ"/>
		</td>
		<td width="170"></td>
	</tr>
	<tr>
		
		<td class="footer" colspan="3">
		
		
                <p>Copyright by <a href="http://noithathuyphat.com" target="_blank">noithathuyphat.com</a><br> </p>
				<b><font color="red">CÔNG TY TNHH TRANG TRÍ NỘI THẤT ĐỒ GỖ CAO CẤP CƯỜNG PHÁT HUY</font></b><br>
<i>Nhà tư vấn thiết kế , cung cấp và lắp đặt hoàn thiện nội thất văn phòng Chuyên nghiệp hàng đầu TP.HCM</i><br>
<b><font color="red">Địa chỉ</font></b> : 264 Phan Anh - Hiệp Tân - Tân Phú - <b><font color="red">Design &amp; Seo by</font></b><a href="mailto:phuongconut@gmail.com?subject=LIEN%20HE%20TU%20WEBSITE%20NOITHATHUYPHAT"> HoPhuong</a> <b><font color="red">Hotlines</font></b>: 095 810 49 32<br>
<p align="justify">Bàn ghế văn phòng - đồ gỗ Huy Phát - Nội thất giuờng ngủ - cửa đi, cửa gỗ - Bàn ghế học sinh 
<a target="_blank" href="http://www.noithatbtp.com/noi-that/-pc6.html" title="Vách ngăn văn phòng">Vách ngăn văn phòng</a>
|<a target="_blank" href="http://buonnhadat.net" title="ban nha,ban dat,thue nha,nha dep,mua nha,nha dat">mua ban nha dat,cho thue nha,ban dat</a>
|<a href="http://www.hgth.net" title="hạt giống tâm hồn-nơi trái tim ngừng đập" target="_blank">Hạt giống tâm hồn-hgth.net</a> 
|<a href="http://biquyetthanhcong.net/tags/website%20vi%E1%BB%87c%20l%C3%A0m.bqtc" target="_blank" title="Website việc làm, đăng tin tuyển dụng,tìm việc làm">Website Việc Làm</a>
|<a href="http://www.giasuthanglong.com" title="Gia sư giỏi tại Hà Nội" target="_blank">Gia sư giỏi tại Hà Nội</a>
|<a href="http://huyentanphu.org" target="_blank" alt="Kênh thông tin giải trí Teen - huyện Tân Phú">Huyện Tân Phú</a>  
|<a target="_blank" href="http://sharpsg.com" title="dien thoai nhat - unlock dien thoai nhat - softbank - docomo">Điện Thoại Nhật </a> 
|<a target="_blank"href="http://www.5starstour.com" title="Vietnam Tours, Vietnam Travel, Vietnam Hotels">Vietnam Tours, Vietnam Travel</a>
|<a target="_blank" href="http://ratvui.info"><span style="text-decoration: none">Nghe Nhạc Trẻ HOT Nhất</span></a>
|<a target="_blank" title="Nghe Nhạc HOT" target="_blank" href="http://nhac.topgiaitri.com">Nghe Nhạc HOT</a>
|<a target="_blank" href="http://vdayvn.com" title="Thực phẩm chức năng" target="_blank">Thực phẩm chức năng</a>
|<a target="_blank" title="laptop hp | laptop dell | laptop sony" href="http://laptopnew.vn">laptop hp, laptop dell</a>
|<a target="_blank" href="http://saleviet.com" title="mua, bán, trao đổi, kinh doanh, chứng khoán, đấu thầu, tuyển dụng, việc làm, đối tác..." target="_blank">Cộng Đồng Sales Việt Nam</a>
|<a href="http://www.tocdo.vn" title="kinh doanh qua mạng, kiếm tiền từ mạng,kiếm tiền từ internet,kinh doanh không cần vốn,bán hàng qua mạng,kiếm tiền,tốc độ, toc do, mua bán qua mạng,mua nhanh,bán nhanh,buy fast,sell fast,mua bán nhanh,rao vặt nhanh,rao vặt free,diễn đàn 5s, 5giay.me,5giay,5 giay,5s,tìm là có, ngó là thấy,thích là mua,5giây" target="_blank">TốcĐộ.Vn | Mua Nhanh - Bán Nhanh</a>
|<a href="http://raovat.bantot.net" title="giao luu, ket ban, rao vat, quang cao" target="_blank">Rao Vặt Bạn Tốt</a>
|<a href="http://vuaphim.net" target="_blank" title="xem phim nhanh,xem phim online nhanh,phim nhanh, phim online nhanh">Phim Nhanh</a>
|<a href="http://diendanmaychu.net" target="_blank" title="may chu, Server, IBM, diendanmaychu">Diễn đàn máy chủ.NET</a>
|<a href="http://gianghi.com" target="_blank" title="Diễn đàn HS Tân Bình">Diễn đàn HS Tân Bình</a>
|<a href="http://www.fbm.vn" title="SEO, Email marketing" target="_blank">SEO * Email marketing</a>
|<a href="http://www.langtham9x.net/" title="Lặng Thầm 9X,teen,9x,xinh,kute,hot,girl,love,lovely,kien giang,can tho,..." target="_blank">Lặng Thầm 9X</a>
</p>
		</td>
	</tr>
	
	</table>
	
</body>
</html>