<div class="User_All_content">
<div class="title_page">ĐỒ GỖ NỘI THẤT PHÁT HUY => GIỚI THIỆU CÔNG TY</div>
<div class="introduceHP">
	<p style="text-align: justify;">
	</p>
	<p align="center" style="margin: 6pt 0in; text-align: center;"  >
		<strong>CÔNG TY NỘI THẤT ĐỒ GỖ PHÁT HUY </strong>
	</p>
	<p align="center">
		  <a title="Cty noi that huy phát : thiet ke noi that, tu van noi that" href="http://noithathuyphat.com/">Thiết kế, tư vấn nội thất</a> | 
		  <a title="Dich vu noi that - Cty noi that huy phát : thiet ke noi that, tu van noi that" href="http://noithathuyphat.com/">Dịch vụ nội thất</a>
	</p>
	<p style="margin: 6pt 0in; text-align: justify;"  >Chuyên sản xuất các sản phẩm nội thất đồ gỗ trang trí nội
	thất: bàn ghế, giường, tủ, kệ bếp,...v...v... cao cấp, bền đẹp bằng các loại gỗ
	tự nhiên: Xoan Đào , go do , pomu , ash , cam xe ...v...v... Bán ngay tại
	xưởng sản xuất, không chi phí cửa hàng, đúng giá bán buôn.</p>
	<p style="margin: 6pt 0in; text-align: justify;"  >Tất cả các sản phẩm của chúng tôi đều 100%
	gỗ tốt, không pha gỗ tạp, kiểu dáng đẹp, được làm từ những thợ tay nghề cao,
	kinh nghiệm lâu năm. Sản phẩm được sơn trang trí bảo quản bằng sơn PU (sơn Đài
	Loan chính hãng) tăng tuổi thọ và giữ nguyên vân tự nhiên của gỗ. Chúng tôi bảo
	hành dài hạn, bảo hành trên 10 năm cho tất cả sản phẩm gỗ và 5 năm cho phần sơn
	PU, bảo trì vĩnh viễn, phục vụ tận nơi, chu đáo, tận tình.</p>
	<p style="margin: 6pt 0in; text-align: justify;"  >Nhận làm hàng theo mẫu mã thiết kế, kích
	thước, yêu cầu của khách hàng, với khách hàng ở Thành Phố Hồ Chí Minh chúng tôi
	phục vụ tận nơi, tư vấn thiết kế ngay tại nhà, thi công công trình nội thất nhà
	ở, văn phòng...</p>
	<p style="margin: 6pt 0in; text-align: justify;"  >Sản phẩm đặt làm trong thời gian từ 15 - 20
	ngày (tối đa 30 ngày, tối thiểu 10 ngày) sẽ hoàn thành. Khách hàng đặt trước
	30% chi phí sản phẩm, phần còn lại sẽ thanh toán sau khi đã nhận hàng.</p>
	<p style="margin: 6pt 0in; text-align: justify;"  >Miễn phí hoàn toàn chi phí vận chuyển và
	lắp đặt cho khách hàng ở Thành Phố Hồ Chí Minh và hỗ trợ một phần chi phí vận
	chuyển cho khách hàng ở cac tình thành khác.</p>
	<p style="margin: 6pt 0in; text-align: justify;"  >Cam đoan
	chất lượng và giá cả luôn luôn là số 1 Thành Phố Hồ Chí Minh tại mọi thời điểm.</p>
	<p style="margin: 6pt 0in; text-align: justify;"  />
	<p style="margin: 6pt 0in; text-align: justify;"  ><strong>Mọi chi tiết xin liên hệ: 0903 787 954 MR PHÁT</strong></p>
	<p style="margin: 6pt 0in; text-align: justify;"  />
	<p style="margin: 6pt 0in; text-align: justify;"  />
	<p style="margin: 6pt 0in;"  ><span> </span></p>
	<div style="text-align:left;">
	   	<p class="brown">
	   	Công ty Nội thất <a class="black">đồ gỗ </a><a class="red">Huy Phát</a> tự hào là một trong những công ty tư vấn, thiết kế, cung cấp nội thất chất lượng tốt với giá thành hợp lý nhất.<br><br>
Noi that <a class="black">đồ gỗ </a><a class="red">Huy Phát</a>Với đội ngũ 
kiến trúc sư, tư vấn thiết kế năng động, nhiệt tình, chuyên nghiệp và 
giàu kinh nghiệm, chúng tôi hy vọng được cùng hợp tác với Quý Khách hàng
 để mang đến những sản phẩm, không gian sống thật sự hoàn hảo.
		</p>
		<br><br>		
		<p class="bold">Xem ngay các dịch vụ, sản phẩm nội thất tại: <a href="http://noithathuyphat.com/" title="Cty noi that do go Huy Phát : thiet ke noi that, tu van noi that">noithathuyphat.com</a></p>
		<br><br>		
		<p class="red">
		Công ty Nội thất <a class="black">đồ gỗ </a><a class="red">Huy Phát</a> chuyên:<br>
		</p>
		<p class="black"> 
		Dịch vụ Tư vấn, thiết kế, cung cấp, bán sẵn nội thất. Phòng khách; 
phòng ngủ; phòng bếp và phòng ăn; phòng sinh hoạt chung; phòng trẻ con 
tại chung cư, biệt thự, hộ gia đình.<br>
Dịch vụ Tư vấn, thiết kế, cung cấp, bán sẵn nội thất. Nhà hàng; quán bar- cafe; văn phòng công ty; khách sạn,....
		</p>
		<br><br>
		<p><a class="red">Các sản phẩm noi that:</a> Sofa nhập khẩu; Sofa <a class="black">đồ gỗ </a><a class="red">Huy Phát</a>; Kệ tivi; Giá sách - Kệ trang trí; Giường ngủ; Tủ áo cánh mở - trượt; Tủ bếp; Bàn ăn - Ghế ăn; Đồ trang trí: hoa, bình lọ,...</p>
		<br><br>
		<p>
		Với phong cách thiết kế đơn giản, thông minh, phù hợp với nhu cầu mới 
của cuộc sống hiện đại. Sản  phẩm noi that của NỘI THẤT ĐỒ GỖ <a class="red">Huy Phát</a>
 được phân phối trực tiếp đến tận tay khách hàng tại showroom 53-55 
Khuất Duy Tiến, Thanh Xuân Bắc, Hà Nội.Tại đây đội ngũ nhân viên sẽ tư 
vấn cho bạn cách thiết kế noi that, trang trí <strong>noi that</strong> 
không chỉ cho nhà ở gia đình, văn phòng mà còn ở các công ty vừa và nhỏ 
đúng với sologan của công ty đã đề ra "your space, my passion".
		</p>
		<br><br>
		<p class="bold">Xem ngay các dịch vụ, sản phẩm nội thất tại: <a href="http://noithathuyphat.com/" title="Cty noi that do go Huy Phát : thiet ke noi that, tu van noi that">noithathuyphat.com</a></p>	
		<br><br>	
		<p>
		<a class="red">noithathuyphat.com</a> là website chính thức của Công ty Nội thất <a class="black">đồ gỗ </a><a class="red">Huy Phát</a>.
 Tại đây quý khách có thể lựa chọn hàng trăm mẫu sản phẩm noi that 
thường xuyên được update, hình ảnh, kích thước và giá trị sản phẩm được 
hiển thị rõ ràng cho quý khách tham khảo. Chỉ cần click vào sản phẩm ưng
 ý điền đầy đủ thông tin cá nhân của khách hàng,trong vòng 24h bộ phận 
kinh doanh sẽ liên lạc trực tiếp với Quý Khách hàng, và chỉ 20- 30 ngày 
sau toàn bộ số đồ sản phẩm <em>noi that</em> sẽ được đưa đến tận tay Quý khách.		
		</p>
		<br><br>
		<p>
		Để xem trực tiếp hoặc tìm hiểu thông tin chi tiết về các mặt hàng noi 
that cần quan tâm mời Quý Khách hàng đến với Công Ty Nội Thất đồ gỗ <a class="red">Huy Phát</a>
 tại showroom 53-55 Khuất Duy Tiến, Thanh Xuân Bắc, Hà Nội. Hoặc đến với
 website của chúng tôi noithathuyphat.com bằng từ khóa "noi that" - cả 
thế giới nội thất đang chờ bạn tại đây.
		</p>
		<br><br>
		<p class="bold">Xem ngay các dịch vụ, sản phẩm nội thất tại: <a href="http://noithathuyphat.com/" title="Cty noi that đồ gỗ Huy Phát : thiet ke noi that, tu van noi that">noithathuyphat.com</a></p>
         </div>
	<div style="text-align:left;">
		<p style="margin: 6pt 0in;"  ><strong><span style="text-decoration: underline;">Liên hệ:</span></strong></p>
		<h4 style="margin: 6pt 0in;"  ><strong>Nội Thất Đồ Gỗ Phát Huy:</strong></h4>
		<p style="margin: 6pt 0in;"  >- Địa chỉ: Tp. Hồ Chí	Minh</p>
		<p style="margin: 6pt 0in;"  >- Điện thoại: </p>
		<p style="margin: 6pt 0in;"  >- Di động : 0903 787 954 MR PHÁT</p>
		<p style="margin: 6pt 0in;"  >- Email: <a ></a></p>
		<p style="margin: 6pt 0in;"  >- Y!M: </p>
		<p style="margin: 6pt 0in;"  >- Website:<span> </span><a href="http://noithathuyphat.com/">nội thất đồ gỗ huy phát</a></p></td>
	</div>
</div>
</div>