<tr>
	<td align="left" valign="top" style="padding-top: 5px;" class="text">
		<a >
			<img border="0" align="left" width="120px" style="margin-top: 5px; margin-right: 5px;" title="Giai tri cung do go noi that phat huy" alt="Giai tri cung do go noi that phat huy" src="{val STL_DEVELOP}img/relax/relax{val STT}.jpg"/>
		</a>
		<div align="justify">
			<font color="#771427">
				<strong>
					<a href="{val STL_DEVELOP}htm/do-go-noi-that-huy-phat/{val ID}/{val STT}/">
						{val titleRelax}
					</a>
				</strong>
			</font>
			<br/>
			<p style="text-align: justify;">
				<strong>
					{val shortRelax}
				</strong>
			</p>
		</div>
	</td>
</tr>