<tr>
	<td align="left" valign="top" style="padding-top: 5px;" class="text">
		<a >
			<img border="0" align="left" width="120px" style="margin-top: 5px; margin-right: 5px;" title="{val titleRelax}, giải trí cùng nội thất đồ gỗ phát huy" alt="{val titleRelax}, giải trí cùng nội thất đồ gỗ phát huy" src="{val STL_DEVELOP}img/relax/relax{val STT}.jpg"/>
		</a>
		<div align="justify">
			<font color="#771427">
				<strong>
					<a>
						{val titleRelax}
					</a>
				</strong>
			</font>
			<br/>
			<p style="text-align: justify;">
				<strong>
					{val shortRelax}
				</strong>
			</p>
		</div>
	</td>
</tr>